*.jb
.idea
__pycache__
*.egg-info
dist
dist_gui
dist_cli
releases
build
*.html
lib
.venv
*.build
*.dist
*.onefile-build
*.exe
*.bin
*.pdb
*.pyi
*.spec
*.c
*.cpp
*.o
*.so
*.pyd
*.pyc
*.log
.nuitka_*
dist/
dist_gui/
nuitka_crash-report.xml